<div class="container">
  <mat-accordion>
    <mat-expansion-panel [ngClass]="{itemCompleted: pickUp.status == 'Completed'}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutGap="20px">
            <div>Kind: {{ pickUp.kind }}</div>
            <div>Status: {{ pickUp.status }}</div>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <div>
            Date: {{ pickUp.date | date: 'MMM dd yyyy' }}
            <!--<span *ngIf="task.crossTask.address.city" style="color: red">Cross Dock</span>-->
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <section fxLayout="column" fxLayoutGap="10px">
        <div>Address: <span>{{ pickUp.address.address1}} {{ pickUp.address.address2}}
                            {{ pickUp.address.city}}, {{ pickUp.address.state}}
                            {{ pickUp.address.zip}}
                      </span>
        </div>
        <div>Time: <span>{{ pickUp.time}}</span></div>
        <div>Description: <span>{{ pickUp.description}}</span></div>

        <div *ngIf="pickUp.status == 'Completed'" style="color: blue">
          Completed
        </div>
      </section>
      <mat-action-row fxLayoutGap="10px">
        <div fxLayoutGap="10px">
          <button mat-mini-fab color="primary" matTooltip="EDIT" (click)="onEditPartial()" [disabled]="employeeMode">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" matTooltip="COMPLETE" (click)="onCompleteTask(task.id)">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-mini-fab color="warn" matTooltip="DELETE" (click)="onDeleteTask(task.id)" [disabled]="employeeMode">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
        <div fxFlex></div>
        <!--<div style="padding-right: 15px">
          <button mat-mini-fab color="primary" matTooltip="ADD a Delivery" (click)="onAddPickUp()">
            <mat-icon>local_shipping</mat-icon>
          </button>
        </div>-->
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
