.container {
  width: 80%;
  margin: 2rem auto;
}

table {
  width: 95%;
  margin: 1rem auto;
}

mat-row:hover {
  background: #EAEDED;
  cursor: pointer;
}

.mat-column-pallets {
  max-width: 7%;
}

.mat-column-kind {
  max-width: 7%;
}

.mat-column-weight {
  max-width: 7%;
}

.mat-column-rate {
  max-width: 7%;
}

